.exports
  .the-wrap
    padding 36px 50px
    h2 
      padding-bottom 24px
      font-weight bold !important
      margin-bottom 0px
    p
      margin-bottom 24px
      line-height 150%
    a
      text-decoration underline
    .entry ul 
      margin-bottom 24px
    .entry ul li 
      list-style square
      margin-left 24px
      margin-bottom 12px
    .entry blockquote
      padding-left 50px
      background url('http://media.ultramusicfestival.com/2013/07/quotes.png') 0px 0px no-repeat

  ul.news-list 
    > li 
      margin-bottom 24px
      padding-bottom 24px
      border-bottom 1px solid #999 