{
  author: 'Bryant Williams'
  category: 'music'
  changelog:
    '0.1.0': 'beatport app'
    '0.1.1': 'refactor'
    '0.1.2': 'remove old code, fix buttons'
    '0.1.3': ''
    '0.1.4': 'new page format'
    '0.1.5': 'refactor. fix seek and waveform'
    '0.1.6': 'bug fixes for playing/seeking'
  contact: 'bryant@lessthan3.com'
  dependencies:
    'socialite': '2.0'
    'soundmanager': '2.97a'
  description: 'This application showcases Beatport releases'
  id: 'lt3-beatport-app'
  name: 'Beatport'
  pages:
    tracks:
      artist_id: 'integer'
  type: 'app'
  version: '0.1.6'
}
