buy = 'http://media.lessthan3.com/wp-content/uploads/2013/02/buy-beatport-green.png'

html.mobile
  .lt3-beatport-app.v0-1-6
    .cover
      display none !important

.lt3-beatport-app.v0-1-6
  .track
    clear left
    float left
    margin-bottom 20px
    padding 10px 5px 10px 0px
    position relative
    .cover
      float left
      margin 0 10px
      height 180px
      width 180px
    .inner
      width 670px
      float right
      .top
        padding-bottom 10px
        .play, .pause
          background url('http://media.lessthan3.com/wp-content/uploads/2013/03/beatport-play-pause.png')
          cursor pointer
          float left
          height 36px
          top -60px
          width 36px
        .play
          background-position 0 -36px
        .pause
          background-position -36px -36px
        .info
          padding 0px 10px
          overflow hidden
          width 420px
          .artists, .title
            line-height 20px
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
        .buy
          background url(buy)
          height 19px
          position absolute
          top 5px
          right 10px
          width 109px
      .player
        position relative
        height 120px
        width 670px
        .progress
          background rgba(155,210,21,.35)
          border-right 2px solid rgb(155,210,21)
          height 120px
          margin 0px
          overflow visible
          pointer-events none
          position absolute
          width 0%
          z-index 1
          .time
            background gray
            border-radius 4px
            padding 2px
            font-size 13px
            position absolute
            right -40px
            top 45px
        .waveform
          position absolute
          width 670px 
      .footer
        clear right
        float right
        position relative
        width 670px
        .release
          font-size 13px
        .social-buttons
          position absolute
          right -55px
          bottom -30px
          > li
            width 90px
        .socialite-loaded
          right 25px
