@import 'nib'

// base colors
$black = #262626
$blue = #01afd2
$green = #39ca74
$grey = #8b95a2
$pink = #f979a5
$purple = #81429f
$orange = #ff6d26
$red = #ff6347
$yellow = #f9ac17
$white = #eaedf2

// light versions
$grey_light = lighten($grey, 5)
$white_light = lighten($white, 5)
