{
  author: 'Bryant Williams'
  category: 'demographics'
  changelog:
    '0.1.0': 'embed a survey monkey survey'
  contact: 'b.n.williams@gmail.com'
  description: 'This application includes a facebook like box and comments box'
  id: 'lt3-survey-monkey'
  name: 'Survey Monkey'
  pages:
    survey:
      code: 'string'
      height: {type: 'integer', default: 595}
      width: {type: 'integer', default: 896}
  type: 'app'
  version: '0.1.0'
}
