{
  site:
    collections:
      projects:
        slug: 'projects'
    name: 'My First Dobi App'
    regions: {
      header:
        logo: ''
      footer:
        copyright: ''
        social: [
          {
            service: 'facebook'
            username: 'lessthan3'
          }
          {
            service: 'twitter'
            username: 'lessthan3'
          }
        ]
    }
    style:
      color: '#f00038'
      theme: 'light'
  objects: [
    {
      collection: 'projects'
      data:
        name: 'Airport project'
        icon: 'airport'
        description: 'Some project I worked on'
        image: ''
      type: 'project'
    }
    {
      collection: 'projects'
      data:
        name: 'Helicopter project'
        icon: 'heliport'
        description: 'Another project I worked on'
        image: ''
      type: 'project'
    }
    {
      collection: 'pages'
      data:
        name: 'My Name'
        bio: 'welcome to my website!'
        image: ''
      type: 'biography'
    }
  ]
}
