{
  author: 'Bryant Williams'
  category: 'header'
  changelog:
    '0.1.0': 'basic header'
    '0.1.1': 'fix social images'
  contact: 'b.n.williams@gmail.com'
  description: ''
  id: 'lt3-basic-header'
  name: 'Basic Header'
  settings:
    links:
      0:
        type: 'string'
        enum: ['facebook', 'instagram', 'soundcloud', 'twitter', 'youtube']
      1:
        type: 'string'
        enum: ['facebook', 'instagram', 'soundcloud', 'twitter', 'youtube']
      2:
        type: 'string'
        enum: ['facebook', 'instagram', 'soundcloud', 'twitter', 'youtube']
      3:
        type: 'string'
        enum: ['facebook', 'instagram', 'soundcloud', 'twitter', 'youtube']
  type: 'header'
  version: '0.1.1'
}
