#content
  margin-top 140px

#header.exports
  > .inner
    > .links
      margin 10px auto 0
      > .inner
        > .social
          vertical-align middle
          a
            display inline-block
            margin 10px 20px
        > .logo
          vertical-align middle
          img
            max-height 80px
            margin 0px 20px
    #navigation
      font-size 14px
      height 50px
      >.inner
        >ul
          list-style-type none
          >li
            display inline-block
            line-height 20px
            margin 0px 10px
            padding 8px 0px
            &:before, &:hover:after
              content ''
              display block
              height 1px
              width 100%
            &:hover
              ul.dropdown-menu
                display block
            a
              line-height 30px
              position relative
              z-index 2
              b.caret
                margin-left 6px
                margin-top 14px

#header > .background, #navigation > .background
  position absolute
  left 0
  right 0
  bottom 0
  top 0
  z-index 1

#header
  box-shadow 0px 0px 15px 6px #000
  clear both
  font-size 13px
  position fixed
  top 0px
  left 0px
  right 0px
  z-index 90
  pointer-events none
  >.inner
    padding-top 10px
    pointer-events all
    position relative
    text-align center
    z-index 3
    >.login-btn, >.profile-btn
      position fixed
      top 20px
      left 20px
      font-size 12px
      z-index 9
    >.admin-btn
      display none
      position fixed
      top 20px
      right 20px
      font-size 12px
      z-index 9
  #navigation
    clear both
    font-size 14px
    height 50px
    position relative
    text-align center
    >.inner
      position relative
      z-index 3
      >ul
        list-style-type none
        >li
          display inline-block
          line-height 20px
          &:hover
            ul.dropdown-menu
              display block

